<!DOCTYPE html>
<html>
  <head>
    <title>Flyapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'aircrafts', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'aircrafts', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="photos-wrapper">
      <div class="container">
        <div class="photos">
          <h1>Photos</h1>
            <% @aircrafts.each do |aircraft| %>
              <a href="<%= "/aircraft/#{aircraft.id}" %>">
                <div class="photo">
                  <img class="photo" src="<%= "/images/aircraft/#{aircraft.file_name}" %>">
                  <div class="photo-data">
                    <p class="photo-contents">空港 :
                    <% if aircraft.airport_id %>
                      <%= @airports.find_by(id: aircraft.airport_id)[:cord] %></p>
                    <% else %>
                      - </p>
                    <% end %>
                    <p class="photo-contents">航空会社 :
                    <% if aircraft.airline_id %>
                      <%= @airlines.find_by(id: aircraft.airline_id)[:cord] %></p>
                    <% else %>
                      - </p>
                    <% end %>
                    <p class="photo-contents">機材 : <%= aircraft.aircraft_type %></p>
                    <p class="photo-contents">投稿者 : <%= @users.find_by(id: aircraft.user_id).name %></p>
                  </div>
                </div>
              </a>
              <% if aircraft.id%4 == 0 %>
                <br>
              <% end %>
            <% end %>
          <div class="clear"></div>
          <div class="btn-wrapper">
            <a href="/aircrafts/new" class="btn signup">新規投稿</a>
          </div>
        </div>
        <%= will_paginate @aircrafts, renderer: BootstrapPagination::Rails %>

        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <img src="/logos/footer_logo.png">
        <p>let's join aviation community</p>
      </div>
    </footer>
  </body>
</html>