<!DOCTYPE html>
<html>
  <head>
    <title>Flyapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'aircrafts', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'aircrafts', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="photos-wrapper">
      <div class="container">
        <div class="photos">
          <h1>新規投稿</h1>
          <%= form_tag(aircrafts_create_path, method: :post, multipart: true) do %>
            <p>
            <%= label_tag :file_name, "ファイル名" %><br>
            <%= file_field_tag :file_name %>
            </p>
            <br>
            <p>
            <%= label_tag :airline_name, "航空会社" %><br>
            <%= text_field_tag :airline_name %>
            </p>
            <br>
            <p>
            <%= label_tag :aircraft_type, "機体タイプ" %><br>
            <%= text_field_tag :aircraft_type %>
            </p>
            <p>
            <%= label_tag :airport_name, "撮影空港" %><br>
            <%= text_field_tag :airport_name %>
            </p>
            <p>
            <%= label_tag :camera_model, "撮影機材" %><br>
            <%= text_field_tag :camera_model %>
            </p>
            <%= hidden_field_tag :user_id, @user.id %>
            <p>
            <%= label_tag :taken_at, "撮影日時" %><br>
            <%= date_field_tag :taken_at %>
            </p>
            <br>
            <%= submit_tag "登録する" %>
          <% end %>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <img src="/logos/footer_logo.png">
        <p>let's join aviation community</p>
      </div>
    </footer>
  </body>
</html>