<!DOCTYPE html>
<html>
  <head>
    <title>Flyapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'aircraft_detail', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>
  <body>
  	<header>
      <div class="container">
        <div class="header-left">
          <img class="logo" src="/logos/logo.png">
        </div>
        <div class="header-center">
            <a href="/">TOP</a>
            <a href="/reports">REPORT</a>
            <a href="#">NEWS</a>
            <a href="#">USERS</a>
        </div>
        <div class="header-right">
            <a href="#">新規登録</a>
            <a href="#" class="login">ログイン</a>
        </div>
      </div>
    </header>
    <div class="photo-wrapper">
        <div class="container">
	        <div class="photo-detail">
            <h1><%= @airline[:name] %> <%= @aircraft.aircraft_type %> の写真</h1>
	        	<img class="photo-detail" src="<%= "/images/aircraft/#{@aircraft.file_name}" %>">
	        	<div class="photo-detail-datas">
		            <div class="photo-detail-data">
		              <table>
		              	<tr>
			              <td class="table-style">
			              <p class="photo-content">airport</p>
			              <p class="photo-content"><%= @airport[:name] %> <br> <font size="2">( <%= @airport[:cord] %> )</font></p>
			          	  </td>
			          	  <td class="table-style">
			              <p class="photo-content">airline</p>
			              <p class="photo-content"><%= @airline[:name] %> <br><font size="2">( <%= @airline[:cord] %> )</font></p>
			          	  </td class="table-style">
			          	  <td class="table-style-right">
			          	  	<p class="photo-content">taken by</p>
		              		<p class="photo-content"><%= @user.name %>さん</p>
                      <p class="photo-content"></p>
                      <p class="photo-content"></p>
			          	  </td>
			          	  </tr>
                    <tr>
                      <td class="table-style-right">
                        <p></p>
                      </td>
                    </tr>
                    <tr>
                    <td class="table-style">
                      <p class="photo-content">spot</p>
                    <p class="photo-content">さくらの山公園</p>
                    </td>
                    <td class="table-style">
                      <p class="photo-content">type</p>
                      <p class="photo-content"><%= @aircraft.aircraft_type %></p>
                    </td>
                    <td class="table-style-right">
                      <p class="photo-content">taken date</p>
                      <p class="photo-content"><%= @aircraft.taken_at.year %>年<%= @aircraft.taken_at.month %>月<%= @aircraft.taken_at.day %>日</p>
                    </td>
                  </tr>
		              </table>
		            </div>
	        </div>
        </div>
      </div>
    </div>
	<footer>
      <div class="container">
        <img src="/logos/footer_logo.png">
        <p>let's join aviation community</p>
      </div>
    </footer>
  </body>
</html>