<!DOCTYPE html>
<html>
  <head>
    <title>Flyapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="user-wrapper">
      <div class="container">
        <div class="reports">
          <h1>Log in</h1>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <p>
              <%= f.label :email, "メールアドレス" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </p>
            <br>
            <p>
              <%= f.label :password, "パスワード" %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </p>
            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, "パスワードとメールアドレスを記憶する" %>
              </div>
            <% end -%>
            <br>
            <div class="actions">
              <%= f.submit "ログイン" %>
            </div>
          <% end %>
          <br>
          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <img src="/logos/footer_logo.png">
        <p>let's join aviation community</p>
      </div>
    </footer>
  </body>
</html>