<!DOCTYPE html>
<html>
  <head>
    <title>Flyapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'tops', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'tops', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <img class="logo" src="/logos/logo.png">
        </div>
        <div class="header-center">
            <a href="/aircrafts">AIRCRAFT</a>
            <a href="/reports">REPORT</a>
            <a href="#">NEWS</a>
            <a href="#">USERS</a>
        </div>
        <div class="header-right">
          <% if session[:user_id] == nil %>
            <a href="/signup">新規登録</a>
            <a href="/login" class="login">ログイン</a>
          <% else %>
            <a href="/user/<%= "#{session[:user_id]}" %>">マイページ</a>
            <%= link_to("ログアウト", "logout", {method: :post}) %>
          <% end %>
        </div>
      </div>
    </header>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <div class="top-wrapper">
      <div class="container">
        <h1>ENJOY EACH AVIATION</h1>
        <p>FLYFEは飛行機ファンのみなさまのコミュニティ作りを支援するサービスです。</p>
        <p>搭乗レポートや機体の写真をシェアしてみましょう！</p>
        <div class="btn-wrapper">
          <a href="#" class="btn signup">新規登録はこちら</a>
          <p>or</p>
          <a href="#" class="btn facebook"><span class="fa fa-facebook"></span>Facebookで登録</a>
          <a href="#" class="btn twitter"><span class="fa fa-twitter"></span>Twitterで登録</a>
        </div>
      </div>
    </div>

    <div class="photos-wrapper">
      <div class="container">
        <div class="photos">
          <h1><a href="/aircrafts">Aircraft</a></h1>
          <div class="photo">
            <img class="photo" src="/images/aircraft/1.jpg">
            <div class="photo-data">
              <p class="photo-contents">空港 : NRT/RJAA</p>
              <p class="photo-contents">航空会社 : SU/AFL</p>
              <p class="photo-contents">機材 : B777</p>
              <p class="photo-contents">撮影日時 : 2016/02/15</p>
              <p class="photo-contents">投稿者 : すずきさん</p>
            </div>
          </div>
          <div class="photo">
            <img class="photo" src="/images/aircraft/2.jpg">
            <div class="photo-data">
              <p class="photo-contents">空港 : NRT/RJAA</p>
              <p class="photo-contents">航空会社 : AM/AMX</p>
              <p class="photo-contents">機材 : B777</p>
              <p class="photo-contents">撮影日時 : 2016/02/15</p>
              <p class="photo-contents">投稿者 : さとうさん</p>
            </div>
          </div>
          <div class="photo">
            <img class="photo" src="/images/aircraft/3.jpg">
            <div class="photo-data">
              <p class="photo-contents">空港 : NRT/RJAA</p>
              <p class="photo-contents">航空会社 : TG/THA</p>
              <p class="photo-contents">機材 : B777</p>
              <p class="photo-contents">撮影日時 : 2016/02/15</p>
              <p class="photo-contents">投稿者 : たなかさん</p>
            </div>
          </div>
          <div class="photo">
            <img class="photo" src="/images/aircraft/4.jpg">
            <div class="photo-data">
              <p class="photo-contents">空港 : NRT/RJAA</p>
              <p class="photo-contents">航空会社 : CZ/CSN</p>
              <p class="photo-contents">機材 : B777</p>
              <p class="photo-contents">撮影日時 : 2016/02/15</p>
              <p class="photo-contents">投稿者 : くどうさん</p>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        </div>
      </div>
    </div>

    <div class="repo-wrapper">
      <div class="container">
        <div class="reports">
          <h1><a href="/reports">Reports</a></h1>
          <div class="report">
            <img class="logo" src="/images/reports/1.jpg">
            <div class="report-data">
              <p class="report-contents">搭乗日 : 2015/03/21</p>
              <p class="report-contents">航空会社 : BR/EVA</p>
              <p class="report-contents">路線 : 函館-台湾桃園</p>
              <p class="report-contents">投稿者 : さとうさん</p>
            </div>
          </div>
          <div class="report">
            <img src="/images/reports/2.jpg">
            <div class="report-data">
              <p class="report-contents">搭乗日 : 2015/03/18</p>
              <p class="report-contents">航空会社 : CX/CPA</p>
              <p class="report-contents">路線 : 台湾桃園-函館</p>
              <p class="report-contents">投稿者 : さとうさん</p>
            </div>
          </div>
          <div class="report">
            <img class="logo" src="/images/reports/3.jpg">
            <div class="report-data">
              <p class="report-contents">搭乗日 : 2018/03/05</p>
              <p class="report-contents">航空会社 : BR/EVA</p>
              <p class="report-contents">路線 : 成田-香港</p>
              <p class="report-contents">投稿者 : さとうさん</p>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        </div>
      </div>
    </div>

    <div class="news-wrapper">
      <div class="container">
        <div class="news">
          <h2>NEWS</h2>
          <div class="title">
            <p class="date-contents">2018.09.27</p>
            <p class="text-contents">
              2018年12月よりオーロラ航空の成田-ホノルル便就航決定！ 
            </p>
          </div>
          <div class="title">
            <p class="date-contents">2018.09.14</p>
            <p class="text-contents">
              2026年サグラダファミリア完成より先の開港を目指しバチカン市国空港の建設が決定〜滑走路設置へ向けての領土問題はいかに〜 
            </p> 
          </div>
          <div class="title">
            <p class="date-contents">2018.09.12</p>
            <p class="text-contents">
              人気イベント「そらと僕と長いレンズ」第4回の開催レポートが公開されました！ 
            </p> 
          </div>
          <div class="clear"></div>
        </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <img src="/logos/footer_logo.png">
        <p>let's join aviation community</p>
      </div>
    </footer>
  </body>
</html>