<!DOCTYPE html>
<html>
  <head>
    <title>Flyapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'report_detail', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	<header>
      <div class="container">
        <div class="header-left">
          <img class="logo" src="/logos/logo.png">
        </div>
        <div class="header-center">
            <a href="/">TOP</a>
            <a href="/reports">REPORT</a>
            <a href="#">NEWS</a>
            <a href="#">USERS</a>
        </div>
        <div class="header-right">
            <a href="#">新規登録</a>
            <a href="#" class="login">ログイン</a>
        </div>
      </div>
    </header>
    <div class="report-wrapper">
      <div class="container">
        <div class="report-detail">
          <h1><a href="<%= "/user/#{@user.id}"%>"><%= @user.name %></a>さんのレポート</h1>
          <div class="report-detail-datas">
	          <img class="report-detail" src="<%= "/images/reports/#{@report.file_name}" %>">
	          <div class="report-detail-data">
	            <p><%= @report[:comment] %></p>
            </div>
          </div>
          <%= %>
          <div class="tag">
            <img src="/materials/tags.png">
            <p>
              <% if @airline %>
                <%= @airline[:name] %>
              <% else %>
                <%= @report.airline_name %>
              <% end %>
            </p>
          </div>
          <div class="tag">
            <img src="/materials/tags.png">
            <p><%= @report[:starting_point] %> - <%= @report[:arrival_point] %></p>
          </div>
          <div class="tag">
            <% if @report[:starting_airport_id] %>
              <img src="/materials/tags.png">
              <p><%= @airports.find_by(id: @report[:starting_airport_id])[:name] %></p>
            <% end %>
          </div>
          <div class="tag">
            <% if @report[:starting_airport_id] %>
              <img src="/materials/tags.png">
              <p><%= @airports.find_by(id: @report[:arriving_airport_id])[:name] %></p>
            <% end %>
          </div>
          <div class="tag">
            <img src="/materials/tags.png">
            <p><%= @report[:departure_date].year %>/<%= @report[:departure_date].month %>/<%= @report[:departure_date].day %></p>
          </div>
          <div style="clear: both"></div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <img src="/logos/footer_logo.png">
        <p>let's join aviation community</p>
      </div>
    </footer>
  </body>
</html>