<!DOCTYPE html>
<html>
  <head>
    <title>Flyapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <a href="/"><img class="logo" src="/logos/logo.png"></a>
        </div>
        <div class="header-center">
            <a href="/">TOP</a>
            <a href="/aircrafts">AIRCRAFT</a>
            <a href="/reports">REPORT</a>
            <a href="#">USERS</a>
        </div>
        <div class="header-right">
          <% if !user_signed_in? %>
            <a href="/signup">新規登録</a>
            <a href="/login" class="login">ログイン</a>
          <% else %>
            <%= link_to("マイページ", "/user/#{current_user.id}") %>
            <%= link_to "ログアウト", logout_path %>
          <% end %>
        </div>
      </div>
    </header>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <%= yield %>
    <footer>
      <div class="container">
        <a href="/"><img src="/logos/footer_logo.png"></a>
        <p>let's join aviation community</p>
      </div>
    </footer>
  </body>
</html>
